# Reshaping Dataframes

In [1]:
import pandas as pd

In [12]:
df = pd.DataFrame({'cusid': [1,1,1,2,2,2],
                   'payment_method': ['DEBIT', 'DEBIT', 'CREDIT', 'CREDIT', 'CREDIT', 'DEBIT'],
                   'merchant': ['SHOPEE', 'GRAB', 'SHOPEE', 'SHOPEE', 'LAZADA', 'GSM'],
                   'total_txn': [1, 2, 3, 4, 5, 6],
})
df

   cusid payment_method merchant  total_txn
0      1          DEBIT   SHOPEE          1
1      1          DEBIT     GRAB          2
2      1         CREDIT   SHOPEE          3
3      2         CREDIT   SHOPEE          4
4      2         CREDIT   LAZADA          5
5      2          DEBIT      GSM          6

## Pivot
- In pandas, there are two methods `.pivot()` and `.pivot_table()`
- However, `.pivot()` unable to handle duplicate values in the index column, in this case, the index column is `cusid` which contains multiple rows of `cusid=1`, and `cusid=2`

In [13]:
df.pivot_table(index="cusid", columns=["payment_method", "merchant"], values="total_txn")

payment_method CREDIT        DEBIT
merchant       LAZADA SHOPEE  GRAB  GSM SHOPEE
cusid
1                 NaN    3.0   2.0  NaN    1.0
2                 5.0    4.0   NaN  6.0    NaN