## Python programming and Data Analysis

## Class Exercise 1 -- Python Basics

### Basic data types

In [1]:
a = True
print(type(a))
print(a)

<class 'bool'>
True

In [2]:
a = 20
print(type(a))
print(a)

<class 'int'>
20

In [3]:
a = 20.21
print(type(a))
print(a)

<class 'float'>
20.21

In [4]:
a = 'the "art" of programming'
print(type(a))
print(a)

<class 'str'>
the "art" of programming

In [5]:
bin(True)

'0b1'

In [6]:
bin(False)

'0b0'

#### Type casting

In [7]:
int(-1.99)

-1

In [8]:
int('thequickbrownfoxjumpsoverthelazydog', 36)

2420279590275804445606588463955072096420804747701564608

In [9]:
float('0.999999999999999999999999999999999999')

1.0

In [10]:
float('-inf')

-inf

In [11]:
str(170141183460469231731687303715884105727) # the 12th Mersenne prime

'170141183460469231731687303715884105727'

In [12]:
str(0.987654321098765432109876543210)

'0.9876543210987654'

In [13]:
bool(-1)

True

In [14]:
bool(0)

False

#### Binary representations

In [15]:
import bitstring
#i1 = bitstring.BitArray(int = 2147483649, length = 32) # this line gives you error because largest integer for signed 32 bits is 2147483647 = 2^31 - 1
i1 = bitstring.BitArray(uint = 2147483649, length = 32)
i1.bin

'10000000000000000000000000000001'

In [16]:
i2 = bitstring.BitArray(int = -1, length = 8)
i2.bin

'11111111'

In [17]:
f1 = bitstring.BitArray(float = 1.0, length = 32)
f1.bin

'00111111100000000000000000000000'

In [18]:
f2 = bitstring.BitArray(float = -18.547265383, length = 32)
f2.bin

'11000001100101000110000011001101'

In [19]:
f3 = bitstring.BitArray(float = 0.0, length = 32)
f3.bin

'00000000000000000000000000000000'

In [20]:
f4 = bitstring.BitArray(float = float('inf'), length = 32)
f4.bin

'01111111100000000000000000000000'

In [21]:
a = '@©®§ǖΣДЖ१२३€£¥円元圆圓'
print(a)
print(a.encode('utf-8'))

@©®§ǖΣДЖ१२३€£¥円元圆圓
b'@\xc2\xa9\xc2\xae\xc2\xa7\xc7\x96\xce\xa3\xd0\x94\xd0\x96\xe0\xa5\xa7\xe0\xa5\xa8\xe0\xa5\xa9\xe2\x82\xac\xc2\xa3\xc2\xa5\xe5\x86\x86\xe5\x85\x83\xe5\x9c\x86\xe5\x9c\x93'

@ : b'@'<br/>
© : b'\xc2\xa9'<br/>
® : b'\xc2\xae'<br/>
§ : b'\xc2\xa7'<br/>
ǖ : b'\xc7\x96'<br/>
Σ : b'\xce\xa3'<br/>
Д : b'\xd0\x94'<br/>
Ж : b'\xd0\x96'<br/>
१ : b'\xe0\xa5\xa7'<br/>
२ : b'\xe0\xa5\xa8'<br/>
३ : b'\xe0\xa5\xa9'<br/>
€ : b'\xe2\x82\xac'<br/>
£ : b'\xc2\xa3'<br/>
¥ : b'\xc2\xa5'<br/>
円 : b'\xe5\x86\x86'<br/>
元 : b'\xe5\x85\x83'<br/>
圆 : b'\xe5\x9c\x86'<br/>
圓 : b'\xe5\x9c\x93'

In [22]:
a1 = a.encode('utf-8')
a2 = a1.decode('utf-8')
a3 = a1.decode('iso-8859-1')
print(a)
print(a1)
print(a2)
print(a3)

@©®§ǖΣДЖ१२३€£¥円元圆圓
b'@\xc2\xa9\xc2\xae\xc2\xa7\xc7\x96\xce\xa3\xd0\x94\xd0\x96\xe0\xa5\xa7\xe0\xa5\xa8\xe0\xa5\xa9\xe2\x82\xac\xc2\xa3\xc2\xa5\xe5\x86\x86\xe5\x85\x83\xe5\x9c\x86\xe5\x9c\x93'
@©®§ǖΣДЖ१२३€£¥円元圆圓
@Â©Â®Â§ÇÎ£ÐÐà¥§à¥¨à¥©â¬Â£Â¥åååå

In [23]:
s1 = bitstring.BitArray(bytes = a.encode('utf-8'))
s1.bin

'01000000110000101010100111000010101011101100001010100111110001111001011011001110101000111101000010010100110100001001011011100000101001011010011111100000101001011010100011100000101001011010100111100010100000101010110011000010101000111100001010100101111001011000011010000110111001011000010110000011111001011001110010000110111001011001110010010011'

### Python operators

#### Logical operators

In [24]:
not False

True

In [25]:
True and False

False

In [26]:
False or True

True

#### Arithmetic operators

In [27]:
355 // 113

3

In [28]:
355 % 113

16

In [29]:
-7 % 3

2

In [30]:
2 ** 2020

120390229192789671200196730675808906407818580678535565853604471040981468330576609422256057752381687848600439581729091776513008621150593910720527739772380453052486767498034969314002237284144953291103458547532810152608127216408475325114421897897408047581395677670971695493487923933346069636224032935216763561673143257907287561970520670661943292226106584203713841952673366886865445199267790891789863232017223226748196794533959989836805876911810211481167739679043319937687835412885323948134322098370385629943305785136881090458653857068542385988740344220360507575957485047851613181253218943644136742478444626968576

#### Assignment operators

In [31]:
i = 0
i += 1
print(i)

1

In [32]:
#print(i := int(-9.99)) ## warlus operator not recognized, to update anaconda soon.
i = int(-9.99)
print(i)

-9

#### Comparison operators

In [33]:
a = True
b = False
a > b

True

In [34]:
a = 'ab'
b = 'Ab'
a < b

False

In [35]:
c = 'a b'
a < c

False

#### String Concatenation & repetition

In [36]:
'news' + 'paper' + 'man'

'newspaperman'

In [37]:
s = 'eigen'
s += 'value'
s

'eigenvalue'

In [38]:
'-' * 10

'----------'

#### String length & indices

In [39]:
s = 'machine learning'
len(s)

16

In [40]:
s[2]

'c'

In [41]:
print(s[5:10])
print(s[8:])
print(s[:7])

ne le
learning
machine

In [42]:
print(s[-7])
print(s[-7:-3])

e
earn

In [43]:
s.find('n')

5

In [44]:
s.find('n', 6)

12

In [45]:
s.find('n', 6, 10)

-1

#### print

In [46]:
print(1234, 567.89, sep = '-', end = '#')

1234-567.89#

In [47]:
print('{0:s} is approximately {1:03d}/{2:<2d} = {3:.2f}'.format('pi', 22, 7, 3.1415926))

pi is approximately 022/7  = 3.14

In [48]:
print('{0:s} is approximately {1:^5d}/{2:^5d} = {3:.6f}'.format('pi', 355, 113, 3.1415926))

pi is approximately  355 / 113  = 3.141593

### Python containers

#### Range and for loops

In [49]:
for i in range(1, 11, 2):
    print(i, end = ' ')

1 3 5 7 9

In [50]:
for i in range(9):
    print(2**i, end = ' ')

1 2 4 8 16 32 64 128 256

In [51]:
for i in range(len(s)):
    print(s[i], end = '-')

m-a-c-h-i-n-e- -l-e-a-r-n-i-n-g-

#### Lists and Tuples

In [52]:
orange_peel = (1.0, 0.625, 0.0)

In [53]:
l = [1, 2, 3, 4, 5, 6, 7]

In [54]:
l[3]

4

In [55]:
l[2:6]

[3, 4, 5, 6]

In [56]:
l[-1]

7

In [57]:
orange_peel[1]

0.625

In [58]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [59]:
# print(l := list(range(1, 19, 2))) ## walrus operator again
l = list(range(1, 19, 2))
print(l)

[1, 3, 5, 7, 9, 11, 13, 15, 17]

In [60]:
l[2:7:2]

[5, 9, 13]

In [61]:
l[7:4:-1]

[15, 13, 11]

In [62]:
l[-2:-5:-2]

[15, 11]

In [63]:
l[::-1]

[17, 15, 13, 11, 9, 7, 5, 3, 1]

In [64]:
l.index(7)

3

In [65]:
# l.index(8) gives an error as 8 is not in the list

In [66]:
l.append(19)

In [67]:
l.insert(1, 2)

In [68]:
l.extend((23, 29, 31)) # extend by a tuple

In [69]:
l.extend([37, 41, 43, 47, 49]) # extend by a list

In [70]:
# l.remove(4) # error if remove 4
l.remove(9)

In [71]:
l.pop()

49

In [72]:
l.pop(7)

15

In [73]:
l.pop(0)

1

In [74]:
l.sort(reverse = True)

In [75]:
print(l)

[47, 43, 41, 37, 31, 29, 23, 19, 17, 13, 11, 7, 5, 3, 2]

In [76]:
s = 'mitb.smu.edu.sg'
print(s.split('.'))

['mitb', 'smu', 'edu', 'sg']

In [77]:
s = 'machine learning'
tokens = s.split()

In [78]:
print('\n'.join(tokens))

machine
learning

In [79]:
print('\r'.join(tokens))

learning

#### Dictionaries

In [80]:
d = {}
for i in range(97, 123):
    d[chr(i)] = i - 96

In [81]:
print(d['s'])

19

In [82]:
d['s'] *= 10

In [83]:
d['s'] = 19

In [84]:
2 in l

True

In [85]:
'z' in d

True

In [86]:
2 in d

False

In [87]:
2 not in d

True

In [88]:
d.pop('t')

20

In [89]:
del d['s']

In [90]:
print(list(d.keys()))

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 'u', 'v', 'w', 'x', 'y', 'z']

In [91]:
print(list(d.values()))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 21, 22, 23, 24, 25, 26]

In [92]:
print(list(d.items()))

[('a', 1), ('b', 2), ('c', 3), ('d', 4), ('e', 5), ('f', 6), ('g', 7), ('h', 8), ('i', 9), ('j', 10), ('k', 11), ('l', 12), ('m', 13), ('n', 14), ('o', 15), ('p', 16), ('q', 17), ('r', 18), ('u', 21), ('v', 22), ('w', 23), ('x', 24), ('y', 25), ('z', 26)]

#### Sets

In [93]:
s = {'deer', 'hawk', 'wolf', 'boar'}

In [94]:
s.add('bear')

In [95]:
s.add(('goat', 'pony', 'hare')) # do you know why you cannot change the tuple to a list?

In [96]:
s.update(['lion', 'puma', 'tiger', 'leopard']) # cannot add a list

In [97]:
print(s)

{'deer', 'tiger', 'bear', 'hawk', 'wolf', 'leopard', 'lion', ('goat', 'pony', 'hare'), 'boar', 'puma'}

In [98]:
s.pop() # pop some element in the set

'deer'

In [99]:
s.remove('leopard')

In [100]:
print(s)

{'tiger', 'bear', 'hawk', 'wolf', 'lion', ('goat', 'pony', 'hare'), 'boar', 'puma'}

### Exercise 1.11: count the frequence of each unique value in a given list
Hint: use .get(key, default_value)

In [101]:
long_list = [11, 230, 127, 183, 142, 186, 256, 182, 184, 50, 266, 179, 22, 30, 59, 236, 155, 57, 262, 279, 107, 98, 271, 240, 276, 23, 170, 207, 123, 228, 231, 205, 30, 161, 125, 212, 224, 34, 272, 106, 164, 26, 263, 3, 234, 244, 3, 260, 135, 29, 116, 44, 206, 131, 218, 201, 140, 208, 130, 247, 256, 272, 208, 262, 227, 242, 112, 138, 192, 7, 268, 184, 168, 5, 246, 199, 6, 26, 300, 54, 260, 69, 64, 61, 15, 288, 190, 78, 165, 7, 178, 71, 62, 131, 26, 75, 2, 52, 164, 195, 75, 80, 212, 127, 201, 184, 78, 106, 90, 256, 33, 241, 208, 39, 32, 240, 160, 172, 108, 144, 116, 251, 106, 278, 120, 99, 22, 148, 6, 185, 136, 235, 208, 114, 22, 229, 88, 225, 112, 236, 250, 32, 152, 195, 0, 160, 252, 15, 173, 283, 72, 94, 76, 226, 4, 44, 28, 120, 175, 56, 262, 178, 249, 246, 19, 203, 196, 207, 33, 94, 216, 280, 102, 250, 74, 277, 159, 23, 80, 63, 124, 240, 166, 137, 14, 255, 252, 112, 41, 90, 187, 108, 2, 60, 147, 114, 266, 173, 183, 84, 10, 173, 35, 248, 124, 207, 163, 44, 2, 171, 142, 174, 219, 114, 30, 290, 239, 63, 42, 103, 61, 58, 181, 18, 111, 119, 99, 171, 210, 59, 142, 278, 213, 35, 286, 285, 227, 91, 232, 196, 11, 91, 192, 241, 1, 275, 76, 210, 160, 32, 272, 120, 176, 33, 65, 26, 2, 248, 262, 286, 199, 12, 107, 253, 150, 138, 157, 31, 250, 30, 95, 96, 105, 261, 276, 146, 195, 190, 217, 62, 138, 268, 134, 39, 164, 8, 46, 152, 93, 263, 232, 264, 272, 53, 283, 286, 218, 293, 238, 5, 122, 241, 76, 106, 85, 103, 221, 77, 74, 236, 1, 13, 144, 235, 27, 50, 7, 17, 157, 296, 111, 1, 176, 297, 286, 115, 187, 272, 66, 185, 145, 254, 20, 232, 49, 289, 285, 222, 199, 103, 65, 33, 3, 88, 157, 276, 29, 88, 226, 194, 219, 98, 58, 193, 2, 255, 126, 41, 112, 83, 104, 296, 219, 148, 274, 34, 2, 15, 267, 286, 252, 275, 126, 173, 225, 223, 121, 136, 257, 214, 7, 291, 84, 60, 93, 284, 112, 195, 162, 296, 277, 204, 297, 120, 62, 218, 247, 150, 274, 108, 78, 146, 180, 168, 231, 39, 79, 45, 139, 75, 0, 83, 158, 273, 258, 242, 36, 268, 287, 106, 284, 184, 64, 235, 14, 159, 57, 168, 4, 3, 185, 180, 132, 132, 270, 148, 39, 18, 178, 121, 250, 29, 96, 190, 234, 34, 225, 187, 57, 57, 260, 219, 126, 158, 72, 248, 47, 180, 219, 253, 10, 84, 86, 5, 210, 147, 122, 61, 143, 84, 164, 250, 233, 225, 73, 133, 123, 148, 124, 214, 5, 48, 172, 102, 133, 100, 57, 253, 13, 0, 31, 272, 2, 87, 292, 243, 53, 298, 35, 116, 282, 187, 287, 30, 108, 298, 63, 285, 289, 132, 204, 30, 230, 95, 117, 254, 128, 203, 55, 36, 147, 2, 285, 168, 214, 239, 93, 171, 288, 265, 202, 168, 161, 217, 189, 36, 101, 46, 100, 101, 50, 266, 263, 170, 19, 126, 35, 67, 122, 147, 109, 76, 147, 177, 183, 51, 124, 220, 263, 265, 3, 41, 188, 234, 187, 157, 287, 21, 99, 46, 214, 68, 8, 230, 284, 234, 258, 296, 192, 6, 281, 31, 238, 297, 34, 120, 20, 6, 230, 127, 242, 248, 147, 294, 165, 266, 268, 258, 82, 121, 221, 9, 80, 240, 67, 271, 35, 78, 253, 207, 161, 257, 38, 128, 281, 281, 170, 167, 40, 113, 12, 93, 126, 41, 258, 233, 71, 242, 209, 82, 97, 150, 90, 276, 264, 51, 222, 6, 204, 118, 263, 102, 177, 113, 106, 288, 58, 94, 299, 131, 95, 183, 184, 108, 190, 273, 279, 99, 227, 10, 274, 81, 272, 50, 65, 114, 52, 52, 10, 181, 36, 281, 6, 97, 214, 279, 143, 203, 244, 250, 151, 180, 185, 169, 66, 51, 21, 201, 275, 250, 58, 108, 1, 87, 127, 95, 81, 212, 250, 222, 171, 83, 145, 149, 185, 67, 275, 206, 242, 67, 229, 118, 124, 117, 179, 141, 65, 40, 111, 81, 152, 79, 104, 67, 119, 27, 107, 295, 43, 97, 193, 148, 255, 247, 284, 69, 84, 268, 234, 251, 169, 99, 233, 126, 103, 233, 24, 196, 70, 181, 150, 181, 110, 257, 31, 299, 195, 25, 289, 36, 75, 152, 37, 115, 116, 171, 218, 278, 198, 200, 204, 260, 211, 97, 220, 167, 261, 168, 281, 67, 161, 297, 202, 56, 53, 230, 27, 64, 171, 299, 179, 66, 276, 209, 204, 282, 71, 132, 64, 299, 158, 163, 111, 252, 14, 180, 202, 286, 250, 142, 48, 271, 148, 151, 282, 116, 232, 188, 5, 150, 242, 292, 48, 119, 158, 10, 89, 124, 211, 253, 182, 295, 81, 199, 126, 139, 59, 154, 212, 101, 89, 45, 289, 69, 120, 264, 217, 279, 163, 103, 153, 159, 183, 81, 282, 77, 77, 4, 229, 10, 292, 222, 235, 205, 283, 194, 166, 63, 56, 92, 57, 184, 48, 285, 146, 184, 233, 76, 164, 83, 74, 178, 263, 137, 272, 4, 102, 111, 83, 229, 7, 268, 26, 274, 100, 231, 80, 223, 226, 151, 219, 5, 144, 169, 68, 175, 257, 48, 243, 185, 145, 115, 239, 259, 36, 192, 256, 19, 252, 95, 284, 62, 192, 281, 299, 34, 290, 70, 166, 9, 102, 279, 225, 147, 175, 269, 16, 115, 181, 150, 200, 89, 1, 298, 132, 93, 24, 209, 231, 225, 67, 239, 47, 280, 101, 210, 164, 241, 115, 259, 261, 157, 224, 296, 223, 127, 22, 280, 28, 170, 15, 201, 102, 245, 266, 161, 20, 210, 251, 249, 53, 282, 76, 126, 243, 196, 220, 265, 110, 146, 242, 248, 17, 181, 23, 77, 106, 296, 290, 243, 93]

In [102]:
# write your Python code here

### Python Conditionals

#### if and elif

In [103]:
for i in l:
    if i % 2 == 0:
        print('this is an even number')
    else:
        print('this is an odd number')

this is an odd number
this is an odd number
this is an odd number
this is an odd number
this is an odd number
this is an odd number
this is an odd number
this is an odd number
this is an odd number
this is an odd number
this is an odd number
this is an odd number
this is an odd number
this is an odd number
this is an even number

In [104]:
for i in l:
    if i % 2 == 0:
        print('this is an even number')
    elif i % 3 == 0:
        print('this is a multiple of 3')
    else:
        print('this is a prime number')

this is a prime number
this is a prime number
this is a prime number
this is a prime number
this is a prime number
this is a prime number
this is a prime number
this is a prime number
this is a prime number
this is a prime number
this is a prime number
this is a prime number
this is a prime number
this is a multiple of 3
this is an even number

#### for loops

In [105]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [106]:
for i in range(10, 20):
    print(i)

10
11
12
13
14
15
16
17
18
19

In [107]:
for i in range(1, 9, 2):
    print(i)

1
3
5
7

In [108]:
s = 'machine learning'
for ch in s:
    print(ch)

m
a
c
h
i
n
e

l
e
a
r
n
i
n
g

In [109]:
l = [1, 2, 3, 4]
for v in l:
    print(v)

1
2
3
4

In [110]:
d = {1:2, 3:4}
for k in d:
    print(k)

1
3

In [111]:
for v in d.values():
    print(v)

2
4

In [112]:
for p in d.items():
    print(p)

(1, 2)
(3, 4)

#### while loops

In [113]:
summ, i = 0, 0
while i <= 100:
    summ += i
    i += 1
print(summ)

5050

In [114]:
l = ['i', 'like', 'python']
while l:
    print(l.pop(0))

i
like
python

In [115]:
''' # comment this line to run the code below
sent = input('What can I help you?\n')
while sent.lower() != 'i give up!' and sent.lower() != "i'm frustrated!":
    sent = input('Pardon?\n')
#'''

' # comment this line to run the code below\nsent = input(\'What can I help you?\n\')\nwhile sent.lower() != \'i give up!\' and sent.lower() != "i\'m frustrated!":\n    sent = input(\'Pardon?\n\')\n#'

In [116]:
while None:
    print('this is evaluated as False')
while False:
    print('this is evaluated as False')
while 0:
    print('this is evaluated as False')
while '':
    print('this is evaluated as False')
while []:
    print('this is evaluated as False')
while {}:
    print('this is evaluated as False')
while float('NaN') == float('NaN'):
    print('this is evaluated as False')

In [117]:
i = 0
while i < 8:
    i += 1
    print('value of i is now', i)
    if i == 5:
        break
    i += 1

value of i is now 1
value of i is now 3
value of i is now 5

In [118]:
i = 0
while i < 8:
    i += 1
    print('value of i is now', i)
    if i == 5:
        continue
    i += 1

value of i is now 1
value of i is now 3
value of i is now 5
value of i is now 6
value of i is now 8

In [119]:
j = 37
for i in range(80, 110):
    if i % j == 0:
        break
else:
    print('no multiple of {:d} found'.format(j))

no multiple of 37 found

In [120]:
i, j = 80, 37
while i <= 110:
    if i % j == 0:
        break
    i += 1
else:
    print('no multiple of {:d} found'.format(j))

no multiple of 37 found

### Exercise 1.12: find the first value appears 3 times in a list

In [121]:
long_list = [11, 230, 127, 183, 142, 186, 256, 182, 184, 50, 266, 179, 22, 30, 59, 236, 155, 57, 262, 279, 107, 98, 271, 240, 276, 23, 170, 207, 123, 228, 231, 205, 30, 161, 125, 212, 224, 34, 272, 106, 164, 26, 263, 3, 234, 244, 3, 260, 135, 29, 116, 44, 206, 131, 218, 201, 140, 208, 130, 247, 256, 272, 208, 262, 227, 242, 112, 138, 192, 7, 268, 184, 168, 5, 246, 199, 6, 26, 300, 54, 260, 69, 64, 61, 15, 288, 190, 78, 165, 7, 178, 71, 62, 131, 26, 75, 2, 52, 164, 195, 75, 80, 212, 127, 201, 184, 78, 106, 90, 256, 33, 241, 208, 39, 32, 240, 160, 172, 108, 144, 116, 251, 106, 278, 120, 99, 22, 148, 6, 185, 136, 235, 208, 114, 22, 229, 88, 225, 112, 236, 250, 32, 152, 195, 0, 160, 252, 15, 173, 283, 72, 94, 76, 226, 4, 44, 28, 120, 175, 56, 262, 178, 249, 246, 19, 203, 196, 207, 33, 94, 216, 280, 102, 250, 74, 277, 159, 23, 80, 63, 124, 240, 166, 137, 14, 255, 252, 112, 41, 90, 187, 108, 2, 60, 147, 114, 266, 173, 183, 84, 10, 173, 35, 248, 124, 207, 163, 44, 2, 171, 142, 174, 219, 114, 30, 290, 239, 63, 42, 103, 61, 58, 181, 18, 111, 119, 99, 171, 210, 59, 142, 278, 213, 35, 286, 285, 227, 91, 232, 196, 11, 91, 192, 241, 1, 275, 76, 210, 160, 32, 272, 120, 176, 33, 65, 26, 2, 248, 262, 286, 199, 12, 107, 253, 150, 138, 157, 31, 250, 30, 95, 96, 105, 261, 276, 146, 195, 190, 217, 62, 138, 268, 134, 39, 164, 8, 46, 152, 93, 263, 232, 264, 272, 53, 283, 286, 218, 293, 238, 5, 122, 241, 76, 106, 85, 103, 221, 77, 74, 236, 1, 13, 144, 235, 27, 50, 7, 17, 157, 296, 111, 1, 176, 297, 286, 115, 187, 272, 66, 185, 145, 254, 20, 232, 49, 289, 285, 222, 199, 103, 65, 33, 3, 88, 157, 276, 29, 88, 226, 194, 219, 98, 58, 193, 2, 255, 126, 41, 112, 83, 104, 296, 219, 148, 274, 34, 2, 15, 267, 286, 252, 275, 126, 173, 225, 223, 121, 136, 257, 214, 7, 291, 84, 60, 93, 284, 112, 195, 162, 296, 277, 204, 297, 120, 62, 218, 247, 150, 274, 108, 78, 146, 180, 168, 231, 39, 79, 45, 139, 75, 0, 83, 158, 273, 258, 242, 36, 268, 287, 106, 284, 184, 64, 235, 14, 159, 57, 168, 4, 3, 185, 180, 132, 132, 270, 148, 39, 18, 178, 121, 250, 29, 96, 190, 234, 34, 225, 187, 57, 57, 260, 219, 126, 158, 72, 248, 47, 180, 219, 253, 10, 84, 86, 5, 210, 147, 122, 61, 143, 84, 164, 250, 233, 225, 73, 133, 123, 148, 124, 214, 5, 48, 172, 102, 133, 100, 57, 253, 13, 0, 31, 272, 2, 87, 292, 243, 53, 298, 35, 116, 282, 187, 287, 30, 108, 298, 63, 285, 289, 132, 204, 30, 230, 95, 117, 254, 128, 203, 55, 36, 147, 2, 285, 168, 214, 239, 93, 171, 288, 265, 202, 168, 161, 217, 189, 36, 101, 46, 100, 101, 50, 266, 263, 170, 19, 126, 35, 67, 122, 147, 109, 76, 147, 177, 183, 51, 124, 220, 263, 265, 3, 41, 188, 234, 187, 157, 287, 21, 99, 46, 214, 68, 8, 230, 284, 234, 258, 296, 192, 6, 281, 31, 238, 297, 34, 120, 20, 6, 230, 127, 242, 248, 147, 294, 165, 266, 268, 258, 82, 121, 221, 9, 80, 240, 67, 271, 35, 78, 253, 207, 161, 257, 38, 128, 281, 281, 170, 167, 40, 113, 12, 93, 126, 41, 258, 233, 71, 242, 209, 82, 97, 150, 90, 276, 264, 51, 222, 6, 204, 118, 263, 102, 177, 113, 106, 288, 58, 94, 299, 131, 95, 183, 184, 108, 190, 273, 279, 99, 227, 10, 274, 81, 272, 50, 65, 114, 52, 52, 10, 181, 36, 281, 6, 97, 214, 279, 143, 203, 244, 250, 151, 180, 185, 169, 66, 51, 21, 201, 275, 250, 58, 108, 1, 87, 127, 95, 81, 212, 250, 222, 171, 83, 145, 149, 185, 67, 275, 206, 242, 67, 229, 118, 124, 117, 179, 141, 65, 40, 111, 81, 152, 79, 104, 67, 119, 27, 107, 295, 43, 97, 193, 148, 255, 247, 284, 69, 84, 268, 234, 251, 169, 99, 233, 126, 103, 233, 24, 196, 70, 181, 150, 181, 110, 257, 31, 299, 195, 25, 289, 36, 75, 152, 37, 115, 116, 171, 218, 278, 198, 200, 204, 260, 211, 97, 220, 167, 261, 168, 281, 67, 161, 297, 202, 56, 53, 230, 27, 64, 171, 299, 179, 66, 276, 209, 204, 282, 71, 132, 64, 299, 158, 163, 111, 252, 14, 180, 202, 286, 250, 142, 48, 271, 148, 151, 282, 116, 232, 188, 5, 150, 242, 292, 48, 119, 158, 10, 89, 124, 211, 253, 182, 295, 81, 199, 126, 139, 59, 154, 212, 101, 89, 45, 289, 69, 120, 264, 217, 279, 163, 103, 153, 159, 183, 81, 282, 77, 77, 4, 229, 10, 292, 222, 235, 205, 283, 194, 166, 63, 56, 92, 57, 184, 48, 285, 146, 184, 233, 76, 164, 83, 74, 178, 263, 137, 272, 4, 102, 111, 83, 229, 7, 268, 26, 274, 100, 231, 80, 223, 226, 151, 219, 5, 144, 169, 68, 175, 257, 48, 243, 185, 145, 115, 239, 259, 36, 192, 256, 19, 252, 95, 284, 62, 192, 281, 299, 34, 290, 70, 166, 9, 102, 279, 225, 147, 175, 269, 16, 115, 181, 150, 200, 89, 1, 298, 132, 93, 24, 209, 231, 225, 67, 239, 47, 280, 101, 210, 164, 241, 115, 259, 261, 157, 224, 296, 223, 127, 22, 280, 28, 170, 15, 201, 102, 245, 266, 161, 20, 210, 251, 249, 53, 282, 76, 126, 243, 196, 220, 265, 110, 146, 242, 248, 17, 181, 23, 77, 106, 296, 290, 243, 93]

In [122]:
# write your Python code here

### Exercise 1.13: print the following pattern of 10 rows and 19 columns

```
*******************
---------*---------
********---********
-------*****-------
******-------******
-----*********-----
****-----------****
---*************---
**---------------**
-*****************-
```

In [123]:
# write your Python code here

### List & dictionary comprehension

In [124]:
a = [i**2 for i in range(3, 39, 2)]
print(a)

[9, 25, 49, 81, 121, 169, 225, 289, 361, 441, 529, 625, 729, 841, 961, 1089, 1225, 1369]

In [125]:
b = {a[i]:i for i in range(len(a))}
print(b)

{9: 0, 25: 1, 49: 2, 81: 3, 121: 4, 169: 5, 225: 6, 289: 7, 361: 8, 441: 9, 529: 10, 625: 11, 729: 12, 841: 13, 961: 14, 1089: 15, 1225: 16, 1369: 17}

### Exercise 4: Construct a geometric progression
print first 20 terms, use list comprehension

In [126]:
first_term, ratio = 512, 1.5

In [127]:
# Write your Python code

### Exercise 5: find the start time of Einstein’s presentation

Suppose a presentation session at a conference starts at 8:20am, each speaker is given 20 minutes and they present in the ascending order of their surname, when does Einstein start to present?

In [128]:
physicists = ['Erwin Schroedinger', 'Wolfgang Pauli', 'Max Born', 'Niels Bohr', 'Max Planck', 'Madame Curie', 'Hendrik Antoon Lorentz', 'Albert Einstein', 'Paul Langevin', 'Louis Victor de Broglie', 'Paul Dirac', 'Werner Heisenberg']

In [129]:
# write your Python code here

### Final exercise: list words that have appeared at least 3 times

In [130]:
speech = ['the United States has conducted an operation that killed Osama bin Laden',
         'Abu Bakr al-Baghdadi is dead',
         'the United States launched a targeted operation against that compound',
         'they did a lot of shooting and they did a lot of blasting even not going through the front door You know you would think you go through the door If you are a normal person you say Knock knock  May I come in',
         'After a firefight they killed Osama bin Laden and took custody of his body',
         'He died like a dog',
         'Yet his death does not mark the end of our effort',
         'a beautiful dog a talented dog',
         'We give thanks for the men who carried out this operation',
         'And I dont get any credit for this but thats okay I never do But here we are',
         'May God bless you And may God bless the United States of America',
         'And Im writing a book I think I wrote 12 books All did very well']

In [131]:
# write your Python code here