## Python programming and Data Analysis

## Class Exercise 2 -- Python Intermediate

### Before function â€“ Operators

In [1]:
str1 = 'abc'
str2 = 'def'
print('a' in str1)
print('a' in str2)
print('a' not in str1)
print('a' not in str2)

True
False
False
True

In [2]:
x = 5
print(type(x) is int)
print(type(x) is str)

print(type(x) is not int)
print(type(x) is not str)

True
False
False
True

### Functions

### Define & Call

In [3]:
def add(a, b):
    c = a + b
    print(c)

add(2, 3)

5

### Arguments

In [4]:
def info(name, age):
    print(name, 'is', age, 'years old.')

info('Mike', 40)

Mike is 40 years old.

In [5]:
info(40, 'Mike')

40 is Mike years old.

In [8]:
info(40)

TypeError: info() missing 1 required positional argument: 'age'

In [9]:
def info(name, age):
    print(name, 'is', age, 'years old.')

info(name = 'Mike', age = 40)
info(age = 40, name = 'Mike')

Mike is 40 years old.
Mike is 40 years old.

In [10]:
def info(name, age = 35):
    print(name, 'is', age, 'years old.')

info('Mike', 40)
info('Mike')

Mike is 40 years old.
Mike is 35 years old.

In [11]:
def info(name, *args):
    hobby = []
    for a in args:
        hobby.append(a)
    print(name +"'s hobbies: " + ', '.join(hobby))

info('Mike')
info('Mike', 'hiking', 'reading')

Mike's hobbies:
Mike's hobbies: hiking, reading

In [13]:
def info(name, **kwargs):
    hobby = []
    for k, v in kwargs.items():
        hobby.append(k+'-'+v)
    print(name +"'s hobbies: " + ', '.join(hobby))

info('Mike', first='hiking', second='reading')

Mike's hobbies: first-hiking, second-reading

In [15]:
def func(a1, a2, a3):
    print(a1,a2,a3)
     
args = ('Python', 'Data', 'Analysis')
func(*args)

kwargs = {'a1' : 'Python', 'a2' : 'Data', 'a3' : 'Analysis'}
func(**kwargs)

Python Data Analysis
Python Data Analysis

In [17]:
def func(*args,**kwargs):
    print('args: ', args)
    print('kwargs: ', kwargs)
    print(' '.join(args), ' '.join(kwargs.values()))
 
func('I', 'love', first='Python programming', mid='and', last='Data Analysis')

args:  ('I', 'love')
kwargs:  {'first': 'Python programming', 'mid': 'and', 'last': 'Data Analysis'}
I love Python programming and Data Analysis

### Return

In [22]:
def func1(a,b):
    return a

def func2(a,b):
    return a,b

print(func1(1,3))
print(func2(1,3))

1
(1, 3)

In [23]:
def func3(a,b):
    return [a,b]

def func4(a,b):
    return {'a': a, 'b': b}

print(func3(1,3))
print(func4(1,3))

[1, 3]
{'a': 1, 'b': 3}

In [24]:
def by_factor(factor):
    def multiply(number):
        return factor * number
    return multiply

double = by_factor(2)
print(double(2))
print(double(3))

4
6

In [25]:
def add(a, b):
    c = a + b
    return c

result = add(2, 3)
print(result)

5

In [26]:
def add2(a, b):
    c = a + b
    print(c)

result2 = add2(2, 3)
print(result2)

5
None

In [20]:
def logistic(x):
    return 1/(1+math.exp(-x))

print(logistic(-100))
print(logistic(0))
print(logistic(100))

3.7200759760208356e-44
0.5
1.0

### Variable Scope

In [27]:
def test():
    y = 'local'
    print(y)

test()
print(y)

local

NameError: name 'y' is not defined

In [30]:
y = 'global'
def test():
    global y
    print(y)

test()
print(y)

global
global

### Exercise 2.11: find out all the prime numbers in a given list

In [34]:
num_list = [649, 778, 652, 653, 912, 402, 917, 536, 664, 922, 284, 158, 415, 672, 673, 33, 419, 414, 421, 811, 683, 48, 818, 566, 567, 310, 580, 838, 199, 586, 458, 460, 337, 728, 604, 94, 607, 865, 354, 230, 367, 752, 625, 371, 505, 635, 893, 382, 767]

In [ ]:
# write your Python code here

### Lambda Expressions

In [46]:
add=lambda x, y: x+y
add(1, 2)

3

In [47]:
sum = lambda x: 1
sum([2,3])

1

In [48]:
sorted([1, 2, 3, 4, 5], key = lambda x: abs(3 - x))

[3, 2, 4, 1, 5]

In [49]:
list(filter(lambda n: n % 2 == 1, [1, 2, 3, 4, 5]))

[1, 3, 5]

In [50]:
list(map(lambda x: x + 1, [1, 2, 3]))

[2, 3, 4]

### Exercise 2.12: use the prime function you created in exercise 1 and lambda to find out all the prime numbers in a given list in one line

In [ ]:
# write your Python code here

### Modules

In [62]:
import math
print(math.pi)

import math as mt
print(mt.pi)

from math import pi
print(pi)

from math import *

3.141592653589793
3.141592653589793
3.141592653589793

In [63]:
import random as rnd
print(rnd.randint(0, 10))
print(rnd.random())
lst = list(range(10))
print(rnd.choice(lst))
print(random.choice('abc'))

7
0.187558625103874
3
b

### Classes

### Class and Instance

In [89]:
a = 2
print(id(a))
print(type(a))

1469952256
<class 'int'>

In [90]:
b = 2
print(id(b))
print(type(b))

1469952256
<class 'int'>

In [91]:
c = 3
print(id(c))
print(type(c))

1469952288
<class 'int'>

In [92]:
a = [1,2]
b = a
print(id(a))
print(id(b))

b.append(3)
print(a)
print(b)
print(id(a)) 
print(id(b))

1531023259656
1531023259656
[1, 2, 3]
[1, 2, 3]
1531023259656
1531023259656

In [1]:
a = [1,2]
b = [1,2]
print(id(a))
print(id(b))

print(a == b)
print(a is b)

4426390664
4426391176
True
False

In [4]:
a = 101
b = 101
print(id(a))
print(id(b))

print(a == b)
print(a is b)

4389863968
4389863968
True
True

In [5]:
c = 1001
d = 1001
print(id(c)) 
print(id(d)) 

print(c == d)
print(c is d)

4426665552
4426665104
True
False

In [96]:
a = [[0, 1], 2, 3]
b = a
print(id(a))
print(id(b))

b.append(4)
b[0][0] = 9
print(a)
print(b)
print(id(a))
print(id(b))

1531023200840
1531023200840
[[9, 1], 2, 3, 4]
[[9, 1], 2, 3, 4]
1531023200840
1531023200840

In [97]:
import copy
a = [[0, 1], 2, 3]
b = copy.copy(a)
print(id(a))
print(id(b))
print(id(a[0]))
print(id(b[0]))

b.append(4)
b[0][0] = 9
print(a)
print(b)

1531023204040
1531023260168
1531023201608
1531023201608
[[9, 1], 2, 3]
[[9, 1], 2, 3, 4]

In [98]:
import copy
a = [[0, 1], 2, 3]
b = copy.deepcopy(a)
print(id(a)) 
print(id(b))
print(id(a[0]))
print(id(b[0]))

b.append(4)
b[0][0] = 9
print(a)
print(b)

1531023203336
1531023203784
1531023200840
1531022909128
[[0, 1], 2, 3]
[[9, 1], 2, 3, 4]

In [99]:
string = 'Hello'
print(id(string))
string += '!'
print(string)
print(id(string))

1531023380864
Hello!
1531023382824

In [100]:
list1 = [1,2]
print(id(list1))
list1 += [3]
print(list1)
print(id(list1))

1531023201032
[1, 2, 3]
1531023201032

In [101]:
class Student:
    pass    #skip this part for now

stu_1 = Student()
stu_1.first = 'Jean'
stu_1.last = 'Chen'
stu_1.email = 'Jean.Chen@smu.edu.sg'
print(stu_1.email)

Jean.Chen@smu.edu.sg

In [102]:
class Student:
    def __init__(self, first, last):
        self.first = first
        self.last = last
        self.email = first + '.' + last + '@smu.edu.sg'

stu_1 = Student('Jean', 'Chen')
stu_2 = Student('Zian', 'Gong')
print(stu_1.email) 
print(stu_2.email)

Jean.Chen@smu.edu.sg
Zian.Gong@smu.edu.sg

In [104]:
class Student:
    def __init__(self, first, last):
        self.first = first
        self.last = last
        self.email = first + '.' + last + '@smu.edu.sg'
    
    def fullname(self):
        return self.first + ' ' + self.last

stu_1 = Student('Jean', 'Chen')
print(stu_1.fullname())
print(Student.fullname(stu_1))

Jean Chen
Jean Chen

In [103]:
class Student:
    num_of_stu = 0
    def __init__(self, first, last):
        self.first = first
        self.last = last
        self.email = first + '.' + last + '@smu.edu.sg'
        Student.num_of_stu += 1

print(Student.num_of_stu)     
stu_1 = Student('Jean', 'Chen')
print(Student.num_of_stu)

0
1

### Inheritance

In [84]:
class Student:
    def __init__(self, first, last):
        self.first = first
        self.last = last
        self.email = first + '.' + last + '@smu.edu.sg'
        
    def fullname(self):
        return self.first + ' ' + self.last

In [85]:
class Rep(Student):
    pass

In [86]:
rep_1 = Rep('Jean', 'Chen')  
print(rep_1.email)
print(rep_1.fullname())

Jean.Chen@smu.edu.sg
Jean Chen

In [87]:
class Rep(Student):
    def __init__(self, first, last, cat):
        super().__init__(first, last)
        self.cat = cat

rep_1 = Rep('Jean', 'Chen', 'academic')
print(rep_1.email) 
print(rep_1.fullname())
print(rep_1.cat)

Jean.Chen@smu.edu.sg
Jean Chen
academic

In [88]:
class Rep(Student):
    def __init__(self, first, last, cat):
        super().__init__(first, last) 
        self.cat = cat

    def fullname(self):
        return self.cat + ' representative: ' +  self.first + ' ' + self.last
    
rep_1 = Rep('Jean', 'Chen', 'academic')
rep_1.fullname()

'academic representative: Jean Chen'

### Magic Method

In [81]:
dir(int)

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

In [83]:
num = 1
print(num + 2)
print(num.__add__(2))

3
3

In [8]:
class iter_example(): 
    def __init__(self, data=1): 
        self.data = data 

    def __iter__(self): 
        return self 

    def __next__(self): 
        if self.data > 3:
            raise StopIteration 
        else:
            self.data += 1 
        return self.data

In [9]:
for i in iter_example():
    print(i)

2
3
4

### Final exercises 2.13, 2.14 and 2.15: class inheritance

### Exercise 2.13: Write a parallelogram class that takes length, width and angle between sides as arguments:
- it has two functions: perimeter and area
- create an instant paral with length 5, width 6 and angle 60, print out its perimeter and area

In [ ]:
# Write your python code here

### Exercise 2.14: Write a rhombus class that inherits from parallelogram class:
- create an instant rh with length 5 and angle 60, print out its perimeter and area

In [ ]:
# Write your python code here

### Exercise 2.15: Write a square class that inherits from rhombus class:
- create an instant sq with length 5, print out its perimeter and area
- write a new function area that will return "The area of a square with length xxx is xxx"

In [ ]:
# Write your python code here